    * {
        box-sizing: border-box;
    }

    body {
        background: #bde5ffd5;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .calculator {
        background: rgba(170, 249, 252, 0.651);
        padding: 50px 60px;
        border-radius: 12px;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
        max-width: 1200px;
        width: 100%;
        text-align: center;
    }

    .calculator h2 {
        margin-bottom: 20px;
        color: #333;
    }

    input[type="number"] {
        width: 45%;
        padding: 12px 15px;
        margin: 10px 2.5%;
        font-size: 18px;
        border: 2px solid #ddd;
        border-radius: 8px;
        transition: border-color 0.3s ease;
    }

    input[type="number"]:focus {
        border-color: #007bff;
        outline: none;
    }

    .buttons {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    button {
        padding: 12px 0;
        padding: 18px;
        border-radius: 8px;
        cursor: pointer;
        color: white;
        transition : 0.3s ease;
        text-decoration: none;
    }

    button.operation {
        background-color: #007bff;
    }

    button.operation:hover {
        background-color: #0056b3;
    }

    button.clear {
        background-color: #dc3545;
        flex: 1 1 95%;
    }

    button.clear:hover {
        background-color: #a71d2a;
    }

    .result {
        margin-top: 25px;
        font-size: 22px;
        color: #333;
        min-height: 30px;
        font-weight: 600;
    }

    @media(max-width: 480px) {
        input[type="number"] {
            width: 90%;
            margin: 10px 0;
        }

        button {
            flex: 1 1 45%;
        }

        button.clear {
            flex: 1 1 95%;
        }
    }